.image-container {
    position: relative;
    /*width: 100%;*/
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
}

.image-box {
    width: 100%;
    border-radius: 4px 4px 4px 4px !important;
}

.image-box.fit-cover {
    object-fit: cover;
}

.image-box-caption-bar {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;

    margin: -12px;
    padding: 12px;
    border-radius: 4px;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.2),
            transparent
    );

    z-index: 1;
}

.image-box-author-text {
    font-weight: 1000;
    font-size: 13px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}

.image-box-title-text {
    font-size: 20px;
    font-weight: 1000;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 4px;
}

.image-box-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 4px;
    cursor: pointer;

    opacity: 0;
    transition: 0.3s;
}

.image-box-mask.on-hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
}